<div class="notes-field-instance">
    <div class="status-done-field"></div>
    <p class="notes-field-instance-title">{{title}}</p>
    <p class="notes-field-instance-content">{{description}}</p>
    <div class="additional-options-field">
        <p class="notes-field-instance-priority">{{priority}}</p>
        <div class="notes-field-instance-more-options" >...</div>
        <ul class="more-options-dropdown" id="moreOptionsDropdown">
            <li>
                <button id="moreOptionsStatusDone" data-id="{{id}}">done</button>
            </li>
            <li>
                <button id="moreOptionsEditNote" data-id="{{id}}">edit</button>
            </li>
            <li>
                <button id="moreOptionsDeleteNote" data-id="{{id}}">delete</button>
            </li>
        </ul>
    </div>
</div>