<div class="notes-field-instance">
    <div class="status-done-field"></div>
    <p class="notes-field-instance-title">{{title}}</p>
    <p class="notes-field-instance-content">{{description}}</p>
    <div class="additional-options-field">
        <p class="notes-field-instance-priority">{{priority}}</p>
        <label for="notesFieldMoreOptionsButton" class="notes-field-instance-more-options" >...</label>
        <input type="checkbox" id="notesFieldMoreOptionsButton">
        <ul class="more-options-dropdown" id="moreOptionsDropdown">
            <li>
                <button id="moreOptionsStatusDone">done</button>
            </li>
            <li>
                <button id="moreOptionsEditNote">edit</button>
            </li>
            <li>
                <button id="moreOptionsDeleteNote">delete</button>
            </li>
        </ul>
    </div>
</div>