<div class="notes-field-instance">
    <div class="status-done-field"></div>
    <p class="notes-field-instance-title">{{title}}</p>
    <p class="notes-field-instance-content">{{description}}</p>
    <div class="additional-options-field">
        <p class="notes-field-instance-priority">{{priority}}</p>
        <button class="notes-field-instance-more-options">...</button>
        <ul class="more-options-dropdown">
            <li>
                <button>done</button>
            </li>
            <li>
                <button>edit</button>
            </li>
            <li>
                <button>delete</button>
            </li>
        </ul>
    </div>
</div>