* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin basic-font {
  font: {
    family: 'Red Hat Display', sans-serif;
    size: 16px;
  }
}

body {
  @include basic-font;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 1.25rem 0.625rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;
  h1 {
    font: {
      size: 1.25rem;
      weight: bold;
    }
  }
}

main {
  .create-note-form {
    display: flex;
    justify-content: space-between;
    .search-field {
      border: 2px solid black;
    }
  }
}



footer {
  width: 100%;
  padding: 0.625rem;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  p {
    font: {
      size: 1em;
      weight: bold;
    }
  }
}