* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//mixins

@mixin basic-font {
  font: {
    family: 'Red Hat Display', sans-serif;
    size: 16px;
  }
}

@mixin dark-border {
  border:  {
    width: 2px;
    style: solid;
    color: #000;
  };
}

@mixin search-items {
  @include basic-font;
  background: none;
  padding: 0.5rem;
  outline: none;
  &::placeholder {
    color: black;
  }
}

@mixin link-button {
  text-decoration: none;
  color: #000;
  display: block;
  text-align: center;
  border-radius: 0.8125rem;
  cursor: pointer;
  outline: none;
  @include dark-border;
}

//variables

$gap: 2rem;


body {
  @include basic-font;
}

//wrapper

.container {
  max-width: 80vw;
  margin: 0 auto;
}

//modal window

.modal-window-field {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: {
    color: rgba(222, 222, 222, 0.85);
  };
  opacity: 1;
  z-index: 10;
  display: none;
  pointer-events: none;
  &:target {
    display: block;
    pointer-events: auto;
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.8rem;
    transform: translate(-50%,-48%);
    display: flex;
    flex-direction: column;
    width: 22rem;
    background: {
      color: #ffffff;
    };
    @include dark-border;
    .modal-window-sections {
      label {
        display: block;
        margin-bottom: 0.3rem;
      }
      margin: 0.5rem 1rem;
    }
    .modal-window-title {
      input {
        @include dark-border;
        @include search-items;
        width: 100%;
      }
    }
    .modal-window-description {
      textarea {
        @include dark-border;
        @include search-items;
        width: 100%;
        resize: none;
      }
    }
    .modal-window-priority {
      select {
        @include search-items;
        @include dark-border;
        width: 100%;
        margin-bottom: 4.5rem;
      }
    }
    .modal-window-buttons {
      display: flex;
      justify-content: space-between;
      a {
        @include link-button;
        padding: 0.5rem;
        min-width: 7rem;
      }
      button {
        @include link-button;
        padding: 0.5rem;
        min-width: 7rem;
        background:  {
          color: white;
        };
      }
    }
  }
}

//header style

header {
  width: 100%;
  padding: 1.25rem 0.625rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  background-color: #fff;
  z-index: 11;
  h1 {
    font: {
      size: 1.25rem;
      weight: bold;
    }
  }
}

//main section style

main {
  .create-note-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .search-field {
      @include dark-border;
      flex: 0 0 calc(33% - #{$gap});
      margin: 1rem;
      display: inline-flex;
      input[type='search'] {
        @include search-items;
        border: none;
        width: 100%;
      }
      .search-button {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
        background: {
          color: white;
          image: url("../images/search.svg");
          size: 80%;
          repeat: no-repeat;
          position: center;
        };
        border: none;
      }
    }
    select {
      @include search-items;
      @include dark-border;
      margin: 1rem;
      flex: 0 0 calc(25% - #{$gap});
    }
    .search-field-create-button {
      @include search-items;
      @include link-button;
      margin: 1rem;
      flex: 0 0 calc(16% - #{$gap});
    }
  }
  .notes-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .notes-field-instance {
      @include dark-border;
      position: relative;
      padding: 1rem 1rem 2rem;
      margin: $gap/2;
      flex: 0 0 calc(33.3% - #{$gap});
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      font: {
        weight: bold;
      }
      .notes-field-instance-title {
        flex: 1;
        margin-bottom: 1rem;
      }
      .notes-field-instance-content {
        flex: 2;
        margin-bottom: 0.6rem;
      }
      .additional-options-field {
        display: flex;
        justify-content: space-between;
        position: relative;
        .notes-field-instance-priority {
          padding: 1rem;
          min-width: 6rem;
          text-align: center;
          @include dark-border;
          border: {
            style: dashed solid;
            radius: 1.2rem;
          }
        }
        .notes-field-instance-more-options {
          padding: 0.8rem 1rem;
          align-self: flex-end;
          font: {
            weight: bold;
          };
          background: {
            color: transparent;
          };
          @include dark-border;
          border: {
            radius: 1rem;
          };
          cursor: pointer;
          outline: none;
        }
        //[id^=notesFieldMoreOptionsButton], [id^=notesFieldMoreOptionsButton] + * {
        //  display: none;
        //}
        //[id^=notesFieldMoreOptionsButton]:checked + * {
        //  display: block;
        //}
        .more-options-dropdown {
          position: absolute;
          list-style: none;
          z-index: 2;
          @include dark-border;
          right: 0;
          top: 4.5rem;
          display: block;
          & button {
            width: 7rem;
            background: {
              color: white;
            };
            @include dark-border;
            border: {
              top: none;
              left: none;
              right: none;
            }
            padding: 0.8rem;
            cursor: pointer;
            outline: none;
            background-color: #c3c3c3;
            font: {
              weight: bold;
              size: 1rem;
            };
          }
          & button:hover {
            background-color: #fff;
          }
          & li:last-of-type button {
            border-bottom: none;
          }
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 67%;
            top: -1.0625rem;
            width: 0;
            height: 0;
            border-left: 0.9375rem solid transparent;
            border-right: 0.9375rem solid transparent;
            border-bottom: 0.9375rem solid #000000;
          }
        }
      }
      .status-done-field {
        display: none;
        position: absolute;
        width: 2rem;
        height: 2rem;
        @include dark-border;
        background: {
          color: #ffffff;
          image: url("../images/correct-symbol.svg");
          size: 85%;
          repeat: no-repeat;
          position: center;
        };
        top: -1rem;
        right: -2px;
      }
    }
    .status-done-styles {
      background: {
        color: #c3c3c3;
      };
    }
  }
}

//footer style

footer {
  width: 100%;
  padding: 0.625rem;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 11;
  p {
    font: {
      size: 1em;
      weight: bold;
    }
  }
}