* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin basic-font {
  font: {
    family: 'Red Hat Display', sans-serif;
    size: 16px;
  }
}

@mixin search-items {
  @include basic-font;
  background: none;
  border: 2px solid black;
  padding: 0.3rem;
  outline: none;
  width: 20%;
}

$gap: 2rem;

body {
  @include basic-font;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 1.25rem 0.625rem;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;
  background-color: #fff;
  z-index: 1;
  h1 {
    font: {
      size: 1.25rem;
      weight: bold;
    }
  }
}

main {
  .create-note-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    .search-field {
      border: 2px solid black;
      input[type='search'] {
        @include search-items;
        border: none;
        width: 19rem;
        margin-left: 2.5rem;
        &::placeholder {
          color: black;
        }
      }
      .search-button {
        width: 2rem;
        height: 2rem;
        position: absolute;
        margin-right: 1rem;
        cursor: pointer;
        background: {
          color: white;
          image: url("../images/search.svg");
          size: 80%;
          repeat: no-repeat;
          position: center;
        };
        border: none;
      }
    }
    select {
      @include search-items;
      option {
        padding: 1rem;
      }
    }
    .search-field-create-button {
      @include search-items;
      border-radius: 0.8125rem;
      width: 15%;
      cursor: pointer;
    }
  }
  .notes-field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .notes-field-instance {
      border: 2px solid black;
      padding: 1rem 1rem 2rem;
      margin: $gap/2;
      flex: 0 0 calc(33% - #{$gap});
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      font: {
        weight: bold;
      }
      &:nth-child(3n) {
        page-break-after: always;
      }
      .notes-field-instance-title {
        flex: 1;
        margin-bottom: 1rem;
      }
      .notes-field-instance-content {
        flex: 2;
        margin-bottom: 0.6rem;
      }
      .additional-options-field {
        display: flex;
        justify-content: space-between;
        position: relative;
        .notes-field-instance-priority {
          padding: 1rem;
          min-width: 6rem;
          text-align: center;
          border: {
            style: dashed solid;
            color: black;
            radius: 1.2rem;
          }
        }
        .notes-field-instance-more-options {
          padding: 0.8rem 1rem;
          align-self: flex-end;
          font: {
            weight: bold;
          };
          background: {
            color: white;
          };
          border: {
            width: 2px;
            style: solid;
            color: black;
            radius: 1rem;
          };
          cursor: pointer;
          outline: none;
        }
        .more-options-dropdown {
          position: absolute;
          list-style: none;
          border: {
            width: 2px;
            style: solid;
            color: black;
          };
          right: 0;
          top: 4.625rem;
          & button {
            width: 7rem;
            background: {
              color: white;
            };
            border: {
              top: none;
              left: none;
              right: none;
              bottom: {
                width: 2px;
                color: #000;
              };
            }
            padding: 0.8rem;
            cursor: pointer;
            outline: none;
            background-color: #c3c3c3;
            font: {
              weight: bold;
              size: 1rem;
            };
          }
          & button:hover {
            background-color: #fff;
          }
          & li:last-of-type button {
            border-bottom: none;
          }
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 67%;
            top: -1.0625rem;
            width: 0;
            height: 0;
            border-left: 0.9375rem solid transparent;
            border-right: 0.9375rem solid transparent;
            border-bottom: 0.9375rem solid #000000;
          }
        }
      }
    }
  }
}



footer {
  width: 100%;
  padding: 0.625rem;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  p {
    font: {
      size: 1em;
      weight: bold;
    }
  }
}